<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="src/Application/Bootstrap/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         defaultTestSuite="default"
>
    <testsuites>
        <testsuite name="all">
            <directory>./tests/</directory>
        </testsuite>

        <testsuite name="default">
            <directory>./tests/unit/</directory>
            <directory>./tests/integration/</directory>
        </testsuite>

        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>

        <testsuite name="integration">
            <directory>./tests/integration/</directory>
        </testsuite>

        <testsuite name="performance">
            <directory>./tests/performance/</directory>
        </testsuite>

        <testsuite name="third_party">
            <directory>./tests/third_party/</directory>
        </testsuite>
    </testsuites>
</phpunit>
